<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Hello ElementUI</title>
</head>

<body>
    <div id="app">

        <div>
            type: <el-button :type="type" :disabled="disabled" :plain="plain" :size="size">按钮</el-button>
        </div>

        <div>
            图标按钮:
            <el-button :type="type" icon="edit"></el-button>
            <el-button :type="type" icon="share"></el-button>
            <el-button :type="type" icon="delete"></el-button>
            <el-button :type="type" icon="search">搜索</el-button>
            <!-- 自定义按钮图标 -->
            <el-button :type="type">上传 <i class="el-icon-upload el-icon-right"></i></el-button>
        </div>

        <div>
            按钮组:
            <el-button-group>
                <el-button :type="type" icon="arrow-left">上一页</el-button>
                <el-button :type="type">下一页 <i class="el-icon-arrow-right el-icon-right"></i></el-button>
            </el-button-group>
            <el-button-group>
                <el-button :type="type" icon="share"></el-button>
                <el-button :type="type" icon="edit"></el-button>
                <el-button :type="type" icon="delete"></el-button>
            </el-button-group>
        </div>

        <div>
            加载中:
            <el-button :type="type" :loading="loading">加载中</el-button>
        </div>

        <div>
            autofocus:
            <el-button :type="type" :autofocus="true" :size="size">自动获得焦点</el-button>
        </div>

        <!-- 还有 native-type 属性 -->
        <div>
            native-type:
            <el-button :type="type" :autofocus="true" :size="size" :native-type="nativeType">按钮</el-button>
        </div>


        <el-form class="form-try" label-position="right" label-width="120px">

            <el-form-item label="type:">
                <el-select v-model="type">
                    <el-option value="default">default</el-option>
                    <el-option value="text">text</el-option>
                    <el-option value="primary">primary</el-option>
                    <el-option value="warning">warning</el-option>
                    <el-option value="success">success</el-option>
                    <el-option value="danger">danger</el-option>
                    <el-option value="info">info</el-option>
                </el-select>
            </el-form-item>

            <el-form-item label="">
                <el-checkbox v-model="disabled">disabled</el-checkbox>
                <el-checkbox v-model="plain">plain</el-checkbox>
            </el-form-item>

            <el-form-item>
                <el-checkbox v-model="loading">loading</el-checkbox>
            </el-form-item>

            <el-form-item label="size:">
                <el-radio-group v-model="size">
                    <el-radio label="large">large</el-radio>
                    <el-radio label="middle">middle</el-radio>
                    <el-radio label="small">small</el-radio>
                    <el-radio label="mini">mini</el-radio>
                </el-radio-group>
            </el-form-item>

            <el-form-item label="nativeType:">
                <el-select v-model="nativeType">
                    <el-option value="button">button</el-option>
                    <el-option value="submit">submit</el-option>
                    <el-option value="reset">reset</el-option>
                </el-select>
            </el-form-item>

        </el-form>

    </div>

    <script src="//cdn.bootcss.com/seajs/3.0.2/runtime-debug.js"></script>
    <script src="demos.js"></script>

    <script>
        var options = {
            data: {
                type: 'default',
                disabled: false,
                plain: false,
                loading: true,
                size: 'middle',
                nativeType: 'submit'
            }
        };
    </script>
</body>

</html>
