<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Hello ElementUI</title>
</head>

<body>
    <div id="app">

        <div>
            <el-radio v-model="radio" label="1" :disabled="disabled" name="lucy">唱歌</el-radio>
            <el-radio v-model="radio" label="2" :disabled="disabled" name="lucy">跳舞</el-radio>
            radio value: {{radio}}
        </div>


        <div>
            单选按钮组:
            <el-radio-group v-model="radio2" :disabled="g_disabled" :size="size" :fill="fill" :text-color="textColor">
                <el-radio :label="3">星期三</el-radio>
                <el-radio :label="5">星期五</el-radio>
                <el-radio :label="6">星期六</el-radio>
            </el-radio-group>
            radio value: {{radio2}}
        </div>

        <div>
            <!-- el-radio-button label绑定radio的值，el-radio没文本节点，则默认为label的属性值  -->
            单选按钮组: 
            <el-radio-group v-model="radio3" :disabled="g_disabled" :size="size" :fill="fill" :text-color="textColor">
                <el-radio-button label="北京"></el-radio-button>
                <el-radio-button label="上海" :disabled="disabled"></el-radio-button>
                <el-radio-button label="深圳"></el-radio-button>
            </el-radio-group>
            radio value: {{radio3}}

        </div>


        <!-- 
        <el-radio label="" disabled="" name="" >the text..</el-radio>
        <el-radio-button label="" disabled="" />
        <el-radio-group v-model="" disabled="" fill="" text-color=""  size="" @change=""/>
      -->

        <el-form class="form-try" label-position="right" label-width="120px">
            <el-form-item label="">
                <el-checkbox v-model="disabled">disabled</el-checkbox>
                <el-checkbox v-model="g_disabled">g_disabled</el-checkbox>
            </el-form-item>

            <el-form-item label="size:">
                <el-radio-group v-model="size">
                    <el-radio-button label="default"></el-radio-button>
                    <el-radio-button label="large"></el-radio-button>
                    <el-radio-button label="small"></el-radio-button>
                </el-radio-group>
            </el-form-item>

            <el-form-item label="fill:">
                <el-select v-model="fill">
                    <!-- option 没有文本节点或label属性的话 则label默认为value -->
                    <el-option value="yellow"></el-option>
                    <el-option value="green"></el-option>
                    <el-option value="crimson"></el-option>
                </el-select>
            </el-form-item>

            <el-form-item label="textColor:">
                <el-select v-model="textColor">
                    <el-option value="hotpink"></el-option>
                    <el-option value="cadetblue"></el-option>
                    <el-option value="chocolate"></el-option>
                </el-select>
            </el-form-item>

        </el-form>

    </div>
    <script src="//cdn.bootcss.com/seajs/3.0.2/runtime-debug.js"></script>
    <script src="demos.js"></script>

    <script>
        var options = {
            data: {
                radio: '1',
                disabled: false,
                g_disabled: false,
                radio2: 3,
                radio3: '深圳',

                size: '',
                fill: '',
                textColor: ''
            }
        };
    </script>
</body>

</html>
