<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Hello ElementUI</title>
</head>

<body>
    <div id="app">
        <div class="floor">
            <el-tag @close="handleClose" :closable="closable" :close-transition="closeTransition">标签1</el-tag>
            <el-tag @close="handleClose" :closable="closable" :close-transition="closeTransition" type="gray">标签2</el-tag>
            <el-tag @close="handleClose" :closable="closable" :close-transition="closeTransition" type="primary">标签3</el-tag>
            <el-tag @close="handleClose" :closable="closable" :close-transition="closeTransition" type="success">标签5</el-tag>
            <el-tag @close="handleClose" :closable="closable" :close-transition="closeTransition" type="warning">标签4</el-tag>
            <el-tag @close="handleClose" :closable="closable" :close-transition="closeTransition" type="danger">标签6</el-tag>
        </div>

        <el-form class="form-try" label-position="right" label-width="120px">
            <el-form-item>
                <el-checkbox v-model="closeTransition">closeTransition</el-checkbox>
                <el-checkbox v-model="closable">closable</el-checkbox>
            </el-form-item>
        </el-form>

    </div>

    <script src="//cdn.bootcss.com/seajs/3.0.2/runtime-debug.js"></script>
    <script src="demos.js"></script>

    <script type="text/javascript">
        var options = {
            data: {
                closable: false,
                closeTransition: false
            },
            methods: {
                handleClose() {
                    console.log(arguments, '<---');
                }
            }
        };
    </script>
</body>

</html>
