<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>hello world vue2</title>
    <script src="/node_modules/vue/dist/vue.js"></script>
</head>

<body>
    <div id="app">
        <ul id="example">
            <!-- v-for="item in items"  v-for="item of items" -->
            <!-- v-for块 可访问父作用域的属性 -->
            <li v-for="(item, index) in items">
                {{parentMessage}} - {{index}} - {{item.message}}
            </li>
        </ul>

        <!-- template v-for -->
        <ul>
            <template v-for="item of items">
                <li>{{item.message}}</li>
                <li class="divider">----</li>
            </template>
        </ul>

        <!-- v-for="(val, key, index) in obj -->
        <ul>
            <li v-for="(val, key, index) in person">
                {{index}}. {{key}}: {{val}} 
            </li>
        </ul>


        <!-- v-for="n in 10" -->
        <p><span v-for="n in 10">{{n}}..</span></p>

        <!-- 
            v-for 循环输出自定义组件  item数据需用 v-bind:item="item" 才能传入组件内 , 因为组件的作用域是孤立的 
            需用特殊属性 key标识每个vnode
        -->
        <!-- <my-cmp v-for="item in items" v-bind:item="item" v-bind:key="item.id"></my-cmp> -->

        <!--
            数组的更新检测
            变异方法: push pop shift unshift splice sort reverse #被包装 会自动触发视图更新
            非变异方法: filter concat slice ..  # this.arr = this.arr.concat(arr2) 直接覆盖旧数组即可触发视图更新 启发式算法

            不能触发视图更新的数组操作:
            this.arr[i] = newItem;
            this.arr.length = newLen;

            应该:
            Vue.set(vm.arr, i, newItem);
            vm.arr.splice(i, 1, newItem);

            vm.arr.splice(newLen);
        -->

        <!--
            数组的过滤和排序：用计算属性/方法
        -->
        <ul>
            <li v-for="n in evenNumbers">{{n}}</li>
        </ul>
        <ul>
            <li v-for="n in even(numbers)">{{n}}</li>
        </ul>
    </div>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                parentMessage: 'Parent',
                items: [
                    { message: 'Foo' },
                    { message: 'Bar' }
                ],
                person: {
                    FirstName: 'John',
                    LastName: 'Doe',
                    Age: 30
                },
                numbers: [1,2,3,4,5]
            },
            methods: {
                even: function(numbers){
                    return numbers.filter(function(n) {
                        return n % 2 === 0;
                    });
                }
            },
            computed: {
                evenNumbers: function() {
                    return this.numbers.filter(function(n){
                        return n % 2 === 0;
                    });
                }
            }
        });
    </script>
</body>

</html>