body,div,h1,h2,h3,h4,h5,h6,html,li,ol,p,ul{
	margin:0;padding:0
}
a,body,button,input{
	-webkit-tap-highlight-color:transparent
}
.channel-title,.mst-brand-v3 .mst-brand-name,.mst-brand-v3 .mst-brand-pms{
	text-overflow:ellipsis;white-space:nowrap
}
.mst-product-pmsprice em,.mst-product-pmsprice i,.mst-size-price em,.mst-size-price i{
	font-style:normal
}
@model-base 75/750 from 100/640;li,ol,ul{
	list-style:none
}
.body{
	background:#E3E3E3
}
a{
	text-decoration:none;font-size:100%;color:#55f
}
a:visited{
	color:#222
}
img{
	vertical-align:middle;width:100%
}
h1,h2,h3,h4,h5,h6{
	font-size:100%
}
input{
	outline:0
}
.clearfix:after{
	visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0
}
html{
	font-size:312.5%
}
body{
	color:#333;font-family:'Helvetica Neue',Helvetica,'microsoft yahei',Arial,sans-serif;overflow-x:hidden;font-size:12px;overflow-y:scroll
}
@media screen and (min-width:1024px){
	.wrapper{
	max-width:1024px;width:1024px
}

}
@model-base 75/750 from 100/640;.wrapper{
	margin:0 auto;position:relative;width:100%;max-width:11.71875rem
}
.wrapper img{
	width:100%;vertical-align:top
}
.wrapper .plugin{
	min-width:320px;max-width:640px;margin:0 auto
}
.wrapper .plugin-head-group .plugin{
	width:100%;max-width:100%
}
img[data-pat-src]{
	display:none;width:100%;min-width:320px;max-width:1024px
}
img[data-pat-src][src]{
	display:block
}
.mzt-fixbar{
	position:relative;z-index:9999;overflow:hidden;width:100%;height:0;min-width:320px;max-width:640px
}
#specialtopic_notify_tips{
	display:none;position:absolute;z-index:99;width:200px;padding:20px 10px;font-size:18px;line-height:30px;text-align:center;color:#fff;background:rgba(0,0,0,.6)
}
.mzt-counter{
	position:relative;width:5.75rem;font-size:.5rem
}
.mzt-counter p{
	font-size:.8125em;line-height:1.5em;text-align:center
}
.mzt-counter time{
	display:block;text-align:center
}
.mzt-counter span{
	display:inline-block;width:1em;height:1.4375em;margin:0 .03125em;border-radius:2px;font-size:1em;line-height:1.4375em;color:#fff;background:#000
}
.mzt-counter b{
	display:inline-block;width:1.2em;font-weight:400;font-size:.625em;vertical-align:bottom
}
.mzt-o-item{
	position:relative;overflow:hidden;width:100%;min-width:320px;max-width:640px;margin:0 auto;font-size:32px
}
.mzt-o-item .shop_list{
	position:relative;float:left;width:47.5%;margin:0 1.25% 14px;background:#fff
}
.mzt-o-item .gridItem_ablock{
	position:relative;display:block;text-decoration:none
}
.mzt-o-item .gridItem_ablock::after{
	content:'';position:absolute;bottom:-3px;right:0;width:38px;height:32px;background:center no-repeat;background-size:100% 100%;pointer-events:none
}
.mzt-o-item .gridItem_pic{
	margin-bottom:5px;position:relative;overflow:hidden;height:0;padding-bottom:126.38298%
}
.mzt-o-item .gridItem_pic img{
	position:absolute;top:0;left:0;min-width:100%;max-width:100%;min-height:100%;max-height:100%
}
.mzt-o-item .gridItem_b_goods_name{
	overflow:hidden;width:100%;height:1.5em;padding:0 .2em;-moz-box-sizing:border-box;box-sizing:border-box;font-size:.40625em;line-height:1.5em;text-indent:.5em;color:#000;white-space:nowrap;text-overflow:ellipsis
}
.mzt-o-item .gridItem_pricebox{
	overflow:hidden;height:32px;background:#fff
}
.mzt-o-item .gridItem_pricebox>:nth-child(1){
	float:left;padding-left:.5em;margin-top:10px;font-size:.5em;color:#e50012
}
.mzt-o-item .gridItem_pricebox>:nth-child(2){
	float:left;margin-left:.5em;margin-top:13px;font-size:.375em;text-decoration:line-through;color:#888
}
.mzt-o-item .gridItem_pricebox>:nth-child(3){
	display:none
}
.mzt-o-item .seldout{
	position:absolute;left:50%;top:50%;width:54px;height:54px;margin:-22px 0 0 -27px;background:-60px 0 no-repeat;background-size:200px auto
}
.mzt-o-item .tpl_brand{
	position:relative;float:left;width:47.5%;padding-bottom:1px;margin:0 1.25% 14px;background:#fff
}
.mzt-o-item .tpl_brand>a{
	position:relative;display:block;text-decoration:none;color:#000
}
.mzt-o-item .tpl_pic{
	position:relative;height:0;padding-bottom:92.06349%
}
.mzt-o-item .tpl_pic img{
	position:absolute;width:100%;height:100%
}
.mzt-o-item .tpl_pic .coupon{
	position:absolute;z-index:9;top:7px;right:8px;width:24px;height:30px;background:no-repeat;background-size:100%
}
.mzt-o-item .tpl_pic .s_info_desc{
	position:absolute;bottom:0;left:0;width:100%;padding:2px 4px;-moz-box-sizing:border-box;box-sizing:border-box;font-size:13px;line-height:17px;color:#fff;background:rgba(0,0,0,.6)
}
.mzt-o-item .tpl_brand_msg{
	position:relative
}
.mzt-o-item .tpl_brand_name{
	overflow:hidden;height:1.5em;padding:.25em .2em 0;font-size:.40625em;line-height:1.5em;text-overflow:ellipsis;white-space:nowrap
}
.mzt-o-item .tpl_brand_discount{
	overflow:hidden;height:2em;padding:.25em;font-size:.375em;line-height:2em
}
.mzt-o-item .tpl_brand_discount .salebg2{
	margin-right:.125em;font-weight:700;font-size:1.333em;color:#e50012
}
.mzt-o-item .tpl_brand_fav{
	padding:0 .2em;font-size:14px;color:#999
}
.mzt-o-item .tpl_btn_fav{
	position:absolute;bottom:0;left:0;width:100%;height:1.625em
}
.mzt-o-item .tpl_brand_msg:last-child::after,.mzt-o-item [data-favorite-status-brand-ids]:last-child span::after{
	content:'';position:absolute;bottom:-3px;right:0;width:38px;height:32px;background-repeat:no-repeat;background-size:100% 100%;pointer-events:none
}
.mzt-o-item .tpl_pic .coupon-num{
	height:.45312499999999994rem;line-height:.45312499999999994rem;padding:0 .15625rem;background:no-repeat rgba(222,2,118,.82);background-size:100%;font-size:.3125rem;color:#fff;position:absolute;z-index:9;top:7px;right:7px
}
.mzt-o-item .tpl_pic .coupon-num em{
	width:.578125rem;height:.45312499999999994rem;position:absolute;left:-.5625rem;top:0;background-repeat:no-repeat;-webkit-background-size:100%;background-size:100%
}
.mzt-o-item-headcard .shop_list:first-child,.mzt-o-item-headcard .tpl_brand:first-child{
	margin-left:51.25%
}
.mzt-o-item-headcard .shop_list:first-child::before,.mzt-o-item-headcard .tpl_brand:first-child::before{
	content:'';position:absolute;top:0;left:-105%;width:100%;height:100%;padding-bottom:1px;-moz-box-sizing:border-box;box-sizing:border-box;pointer-events:none;background-repeat:no-repeat;background-clip:content-box!important
}
.mzt-o-item .shop_list::after,.mzt-o-item .tpl_brand::after{
	content:'';position:absolute;top:100%;left:0;width:100%;height:100%;padding-bottom:1px;margin-top:14px;-moz-box-sizing:border-box;box-sizing:border-box;pointer-events:none;background-clip:content-box!important
}
@media screen and (min-width:632px){
	.wrapper:not(.mzt-frame-nopad){
	max-width:632px
}

}
.mzt-frame-mask .mzt-o-item .tpl_brand{
	pointer-events:none
}
.mzt-frame-mask .mzt-o-item .tpl_brand .tpl_pic::before{
	content:'鍟嗗搧鍗冲皢鎻檽';position:absolute;z-index:2;top:0;left:0;overflow:hidden;width:100%;height:100%;line-height:9999em;background:center no-repeat rgba(0,0,0,.5);background-size:contain
}
.mzt-frame-mask .mzt-o-item .tpl_brand .tpl_btn_fav{
	pointer-events:auto
}
.notify-tips{
	width:240px;padding:8px 5px;margin:-38px 0 0 -125px;border-radius:5px;word-break:break-all;font-size:14px;line-height:22px;text-align:center;color:#fff;background:rgba(0,0,0,.7);position:fixed;left:50%;top:50%;display:none;z-index:501
}
.u-more-btn .loading{
	text-align:center
}
.u-more-btn .loading img{
	width:auto;vertical-align:middle;margin-right:10px
}
.tpl-brand-mask{
	pointer-events:none
}
.tpl-brand-mask .tpl_pic::before{
	content:'鍟嗗搧鍗冲皢鎻檽';position:absolute;top:0;left:0;overflow:hidden;width:100%;height:100%;line-height:9999em;background:center no-repeat rgba(0,0,0,.5);background-size:contain;z-index:1
}
.tpl-brand-mask .tpl_btn_fav{
	pointer-events:auto
}
.mst-brand-v3 .mst-brand-mask,.mst-brand-v3 .mst-brand-mask .mst-brand-btns,.share-abs:before{
	pointer-events:none
}
.mzt-o-item .shop_list::after,.mzt-o-item .tpl_brand::after{
	background:center no-repeat #ff3c80;background-size:contain
}
.water-mark{
	position:absolute;right:0;top:0;z-index:2;width:57px;height:57px;background:right top no-repeat;-webkit-background-size:contain;background-size:100%
}
.share-abs{
	cursor:pointer;max-width:102px;min-width:43px;position:fixed;right:0;top:0;width:13.6%;z-index:999;background-size:100%;background-repeat:no-repeat
}
.share-abs:before{
	content:"";display:block;height:0;padding-bottom:100%;width:100%
}
.counter{
	font-size:.296875rem;vertical-align:bottom;text-align:center;white-space:nowrap;color:#999
}
.counter span{
	display:inline-block;width:.40625rem;height:.671875rem;border-radius:.078125rem;margin:0 1px;font-size:.40625rem;line-height:.671875rem;color:rgba(255,255,255,.8);background:#0a1926;text-align:center
}
.counter span.msec{
	background-color:#da1b22;color:#f8dfdf
}
.countdown-wrap{
	max-width:640px;padding:0 0 .234375rem;margin:0 auto
}
.countdown-wrap .txt{
	margin:0 .15625rem;font-size:.3125rem;line-height:.75rem;text-align:center;color:#000
}
.countdown-wrap .txt em{
	position:relative;padding:0 .203125rem;font-style:normal
}
.countdown-wrap .txt em::after,.countdown-wrap .txt em::before{
	content:'';position:absolute;top:50%;width:.671875rem;height:1px;background:#e3e3e3
}
.countdown-wrap .txt em::before{
	right:100%
}
.countdown-wrap .txt em::after{
	left:100%
}
.countdonw-float{
	width:100%;position:fixed;left:0;z-index:100
}
nav{
	width:100%;margin:0 auto
}
nav a{
	width:33.3%;height:50%;float:left;background-position:0 0
}
.fix-top{
	width:100%;position:fixed;top:0;left:0;z-index:300;-webkit-transform:translateZ(0);transform:translateZ(0)
}
.channel-list{
	max-width:640px;margin:0 auto
}
.channel{
	margin-bottom:14px
}
.channel-pic{
	position:relative;height:0;padding-bottom:47.94117%
}
.channel-pic .channel-img{
	width:100%;height:100%;position:absolute;left:0;top:0
}
.channel-pms{
	width:100%;line-height:20px;position:absolute;bottom:0;left:0;background-color:rgba(0,0,0,.6);text-indent:5px;color:#fff
}
.channel-info{
	line-height:35px;background-color:#fff;padding:0 5px
}
.channel-time{
	margin-left:10px;float:right;font-size:12px;color:#999
}
.channel-discount,.channel-title{
	font-size:16px;color:#333
}
.channel-title{
	overflow:hidden
}
.channel-discount{
	padding:0 2px;float:left;color:#e4007f
}
.channel-coupon{
	position:absolute;left:.21875000000000003rem;top:33%
}
.channel-list .channel-coupon img{
	width:88px
}
.channel-list-pad{
	width:1024px;max-width:1024px
}
.channel-list-pad .channel{
	width:325px;margin:8px;float:left;position:relative;box-shadow:0 1px 5px #999
}
.channel-list-pad .channel-pic{
	padding-bottom:92.06349%
}
.channel-list-pad .channel-pms{
	line-height:35px;color:#F02387;text-indent:30px;font-size:14px
}
.channel-list-pad .channel-info{
	line-height:45px;padding:0
}
.channel-list-pad .channel-discount{
	padding-right:10px;float:right
}
.channel-list-pad .channel-time{
	line-height:24px;padding:0 8px;background-color:rgba(0,0,0,.6);position:absolute;left:auto;right:0;top:2px
}
.channel-list-pad .channel-time em{
	display:inline-block;width:12px;height:12px;margin:0 2px;vertical-align:middle
}
.channel-list-pad .channel-title{
	padding-left:10px
}
body #specialContent .lazy-load{
	background:url(http://mst.vipstatic.com/demo/image/img-loading.png) center center no-repeat;-webkit-background-size:.9375rem;background-size:.9375rem
}
.plugin,.plugin-head-group{
	position:relative;overflow:hidden;background:url(http://mst.vipstatic.com/demo/image/img-loading.png) center center no-repeat;-webkit-background-size:.78125rem .78125rem;background-size:.78125rem .78125rem
}
.plugin-head-group .plugin,.plugin-loaded{
	background:0 0
}
.plugin-loaded{
	position:static;overflow:visible
}
.plugin-head-group .plugin-tupian{
	max-width:100%
}
.mst-log{
	width:90%;height:90%;position:fixed;left:50%;top:50%;-webkit-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);-o-transform:translate(-50%,-50%);transform:translate(-50%,-50%);background-color:rgba(0,0,0,.8);color:#fff;border-radius:10px;display:none;z-index:999
}
.mst-log .mst-log-wrap{
	padding:10px;overflow-x:hidden;overflow-y:auto
}
@model-base 75/750 from 100/750;.mst-brand-v3{
	max-width:10rem;margin:0 auto
}
.mst-brand-v3 .mst-brand-list{
	padding:0 .06666666666666667rem;overflow:hidden
}
.mst-brand-v3 .mst-brand-item{
	width:4.8rem;margin:0 .06666666666666667rem .21333333333333332rem;float:left;position:relative
}
.mst-brand-v3 .mst-brand-item-wrap{
	border:1px solid #d0d0d0;background-color:#fff;overflow:hidden
}
.mst-brand-v3 .mst-brand-item::after{
	content:"";width:100%;height:99.9%;margin-top:.21333333333333332rem;background:url(http://mst.vipstatic.com/demo/image/last-new.png) center center no-repeat #e7e7e7;position:absolute;top:100%;left:0;-webkit-background-size:cover;background-size:cover
}
.mst-brand-v3 .mst-brand-pic{
	height:4.3999999999999995rem;position:relative
}
.mst-brand-v3 .mst-brand-pic img{
	height:100%;position:absolute;left:0;top:0
}
.mst-brand-v3 .mst-brand-logo{
	width:2.16rem;height:1.0666666666666667rem;margin:-.5333333333333333rem auto .3333333333333333rem;position:relative;border:1px solid #f3f3f3;background-color:#fdfafd
}
#specialContent .mst-brand-v3 .mst-brand-logo .lazy-load{
	background:0 0
}
.mst-brand-v3 .mst-brand-msg{
	height:.48rem;line-height:.48rem;padding:0 .18666666666666668rem .10666666666666666rem;overflow:hidden
}
.mst-brand-v3 .mst-brand-agio{
	float:left;font-size:.31999999999999995rem;color:#e4007f;margin-right:.15999999999999998rem
}
.mst-brand-v3 .mst-brand-agio .salebg2{
	font-size:.42666666666666664rem
}
.mst-brand-v3 .mst-brand-name{
	height:.48rem;overflow:hidden;font-size:.37333333333333335rem;color:#222
}
.mst-brand-v3 .mst-brand-pms{
	height:.39999999999999997rem;line-height:.39999999999999997rem;margin:0 .18666666666666668rem .3333333333333333rem;font-size:.31999999999999995rem;color:#585c64;overflow:hidden
}
.mst-brand-v3 .mst-brand-btns{
	padding:0 .18666666666666668rem;overflow:hidden;margin-bottom:.31999999999999995rem
}
.mst-brand-v3 .mst-brand-btn-coupon{
	position:relative;float:left;margin-right:.13333333333333333rem;overflow:hidden;display:block
}
.mst-brand-v3 .mst-brand-btn-coupon.hide{
	display:none
}
.mst-brand-v3 .mst-brand-btn-coupon-wrap{
	width:1.9733333333333332rem;height:.7999999999999999rem;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;border:1px solid #ee0239;border-radius:.026666666666666665rem;background-color:#ffeff3;overflow:hidden
}
.mst-brand-v3 .mst-brand-btn-coupon::after,.mst-brand-v3 .mst-brand-btn-coupon::before{
	content:"";width:.26666666666666666rem;height:.26666666666666666rem;border-radius:50%;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;border:1px solid #ee0239;background-color:#fff;position:absolute;top:50%;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);-o-transform:translateY(-50%);transform:translateY(-50%)
}
.mst-brand-v3 .mst-brand-btn-coupon::before{
	left:-.13333333333333333rem
}
.mst-brand-v3 .mst-brand-btn-coupon::after{
	right:-.13333333333333333rem
}
.mst-brand-v3 .mst-brand-btn-coupon-txt{
	height:.6133333333333333rem;line-height:.6133333333333333rem;margin:.07999999999999999rem 0 .07999999999999999rem .37333333333333335rem;border-left:1px dashed #ee0239;padding-right:.09333333333333334rem;font-size:.31999999999999995rem;color:#ee0239;text-align:center;word-break:break-all
}
.mst-brand-v3 .mst-brand-btn-fav{
	height:.7999999999999999rem;line-height:.7999999999999999rem;text-align:center;font-size:.31999999999999995rem;color:#fff;display:block;background-color:#de3d96;overflow:hidden;border-radius:.026666666666666665rem
}
.mst-brand-v3 .mst-brand-btn-fav::after{
	content:"绔嬪嵆鎶㈣喘"
}
.mst-brand-v3 .mst-brand-fav::after{
	content:"鎶㈠厛鏀惰棌"
}
.mst-brand-v3 .mst-brand-fav-off{
	background-color:#e0e0e1
}
.mst-brand-v3 .mst-brand-fav-off::after{
	content:"宸叉敹钘�";color:#bfbfbf
}
.mst-brand-v3 .mst-brand-collect{
	height:.5333333333333333rem;line-height:.5333333333333333rem;overflow:hidden;text-align:center;background-color:#f3f3f3;font-size:.31999999999999995rem;color:#98989f
}
.mst-brand-v3 .mst-brand-mask .mst-brand-btn-coupon,.mst-brand-v3 .mst-brand-mask .mst-brand-fav{
	pointer-events:auto
}
.mst-brand-v3 .mst-brand-mask .mst-brand-pic::after{
	content:"";width:100%;height:100%;position:absolute;left:0;top:0;background:url(http://mst.vipstatic.com/demo/image/icon_brand_mask.png) center center no-repeat;background-color:rgba(9,20,38,.4);-webkit-background-size:1.3866666666666667rem .45333333333333337rem;background-size:2.9066666666666667rem .9066666666666667rem
}
@media screen and (min-width:632px){
	.mst-brand-v3{
	max-width:100%
}
.mst-brand-v3 .mst-brand-list{
	padding:0
}
.mst-brand-v3 .mst-brand-item{
	width:204px;margin:0 10px 30px 0
}
.mst-brand-v3 .mst-brand-item:nth-child(3n){
	margin-right:0
}
.mst-brand-v3 .mst-brand-pic{
	height:187px
}
.mst-brand-v3 .mst-brand-logo{
	width:81px;height:40px;border-width:1px;margin:-20px auto 10px
}
.mst-brand-v3 .mst-brand-msg{
	padding:0 12px;height:18px;line-height:18px;margin-bottom:4px
}
.mst-brand-v3 .mst-brand-agio{
	font-size:14px
}
.mst-brand-v3 .mst-brand-agio .salebg2{
	font-size:16px
}
.mst-brand-v3 .mst-brand-name{
	height:18px;font-size:15px
}
.mst-brand-v3 .mst-brand-pms{
	height:16px;line-height:16px;font-size:14px;margin:0 12px 11px
}
.mst-brand-v3 .mst-brand-btns{
	padding:0 12px;margin-bottom:14px
}
.mst-brand-v3 .mst-brand-btn-coupon-wrap{
	width:78px;height:36px;border-width:1px
}
.mst-brand-v3 .mst-brand-btn-coupon-txt{
	height:23px;line-height:23px;margin:6px 0 6px 13px;font-size:14px;padding:0 5px 0 0;border-width:1px
}
.mst-brand-v3 .mst-brand-btn-coupon[data-brand-coupon-len="3"] .mst-brand-btn-coupon-txt{
	font-size:12px
}
.mst-brand-v3 .mst-brand-btn-coupon::after,.mst-brand-v3 .mst-brand-btn-coupon::before{
	width:12px;height:12px;border-width:1px
}
.mst-brand-v3 .mst-brand-btn-coupon::before{
	left:-6px
}
.mst-brand-v3 .mst-brand-btn-coupon::after{
	right:-6px
}
.mst-brand-v3 .mst-brand-btn-fav{
	height:36px;line-height:36px;font-size:14px
}
.mst-brand-v3 .mst-brand-collect{
	height:20px;line-height:20px;font-size:14px;margin:0;padding:0
}
.mst-brand-v3 .mst-brand-item::after{
	margin-top:30px
}
.mst-brand-v3 .mst-brand-mask .mst-brand-pic::after{
	-webkit-background-size:97px 31px;background-size:97px 31px
}

}
.mst-brand-v3-one .mst-brand-list{
	padding:0
}
.mst-brand-v3-one .mst-brand-item{
	width:100%;margin:0 0 .21333333333333332rem
}
.mst-brand-v3-one .mst-brand-item::after{
	display:none
}
.mst-brand-v3-one .mst-brand-item-wrap{
	border:none;border-bottom:.013333333333333332rem solid #ccc
}
.mst-brand-v3-one .mst-brand-pic{
	height:4.8rem
}
.mst-brand-v3-one .mst-brand-info{
	padding-bottom:.29333333333333333rem
}
.mst-brand-v3-one .mst-brand-btns{
	width:2.4rem;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding:.29333333333333333rem 0 0;margin-bottom:0;overflow:hidden
}
.mst-brand-v3-one .mst-brand-btn-coupon.hide+.mst-brand-btn-fav{
	position:absolute;width:2.4rem;right:.21333333333333332rem;bottom:.29333333333333333rem
}
.mst-brand-v3-one .mst-brand-btn-coupon{
	float:none;display:block;margin-right:0;margin-bottom:.21333333333333332rem
}
.mst-brand-v3-one .mst-brand-btn-coupon-wrap{
	width:100%;height:.7466666666666667rem
}
.mst-brand-v3-one .mst-brand-btn-fav{
	width:100%;height:.7999999999999999rem
}
.mst-brand-v3-one .mst-brand-btn-coupon-txt{
	height:.5066666666666666rem;line-height:.52rem;margin:.09333333333333334rem 0 .09333333333333334rem .37333333333333335rem;padding:0 .10666666666666666rem 0 0;text-align:center;overflow:hidden
}
.mst-brand-v3-one .mst-brand-collect,.mst-brand-v3-one .mst-brand-logo{
	display:none
}
.mst-brand-v3-one .mst-brand-agio{
	float:none;margin:0 0 .24rem;font-size:.42666666666666664rem
}
.mst-brand-v3-one .mst-brand-agio .salebg2{
	font-size:.42666666666666664rem;line-height:.48rem
}
.mst-brand-v3-one .mst-brand-msg,.mst-brand-v3-one .mst-brand-pms{
	width:7.173333333333333rem;float:left;margin-left:.21333333333333332rem
}
.mst-brand-v3-one .mst-brand-msg{
	height:auto;padding:.3466666666666667rem 0 0
}
.mst-brand-v3-one .mst-brand-name{
	height:.48rem;line-height:.48rem;font-size:.39999999999999997rem;margin-bottom:.13333333333333333rem
}
.mst-brand-v3-one .mst-brand-pms{
	height:.39999999999999997rem;line-height:.39999999999999997rem;font-size:.31999999999999995rem;margin-right:0;margin-bottom:0;display:none
}
@media screen and (min-width:632px){
	.mst-brand-v3-one .mst-brand-list{
	padding:0
}
.mst-brand-v3-one .mst-brand-item{
	margin-bottom:20px
}
.mst-brand-v3-one .mst-brand-item-wrap{
	border:1px solid #ccc;padding-right:12px
}
.mst-brand-v3-one .mst-brand-pic{
	width:427px;height:205px;float:left;margin-right:12px;margin-bottom:-1px
}
.mst-brand-v3-one .mst-brand-info{
	min-height:auto;padding-bottom:0;overflow:hidden
}
.mst-brand-v3-one .mst-brand-logo{
	width:98px;height:48px;border-width:0;margin:12px auto 10px;display:block;text-align:center
}
.mst-brand-v3-one .mst-brand-msg{
	padding:0;margin:0 0 52px;line-height:35px;width:100%
}
.mst-brand-v3-one .mst-brand-agio{
	width:179px;line-height:30px;font-size:14px;position:absolute;right:12px;bottom:58px;text-align:center;margin-bottom:0;color:#585c64
}
.mst-brand-v3-one .mst-brand-agio .salebg2{
	font-size:20px;color:#e4007f
}
.mst-brand-v3-one .mst-brand-name{
	width:100%;height:36px;line-height:18px;font-size:16px;white-space:normal;text-align:center;margin-bottom:0;word-wrap:break-word
}
.mst-brand-v3-one .mst-brand-pms{
	width:427px;height:26px;line-height:26px;font-size:14px;margin:0;position:absolute;right:205px;bottom:0;color:#fff;overflow:hidden;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding-left:14px;background-color:rgba(69,81,100,.6);display:none
}
.mst-brand-v3-one .mst-brand-btns{
	width:100%;padding:0;margin:0
}
.mst-brand-v3-one .mst-brand-btn-coupon{
	float:left;margin:0 6px 0 0
}
.mst-brand-v3-one .mst-brand-btn-coupon.hide+.mst-brand-btn-fav{
	position:static;width:auto
}
.mst-brand-v3-one .mst-brand-btn-coupon-wrap{
	width:78px;height:36px
}
.mst-brand-v3-one .mst-brand-btn-coupon-txt{
	height:23px;line-height:23px;margin:6px 0 6px 13px;font-size:14px
}
.mst-brand-v3-one .mst-brand-btn-coupon::after,.mst-brand-v3-one .mst-brand-btn-coupon::before{
	width:12px;height:12px
}
.mst-brand-v3-one .mst-brand-btn-coupon::before{
	left:-6px
}
.mst-brand-v3-one .mst-brand-btn-coupon::after{
	right:-6px
}
.mst-brand-v3-one .mst-brand-btn-fav{
	height:36px;line-height:36px;font-size:14px;position:static;width:auto
}
.mst-brand-v3-one .mst-brand-collect{
	height:20px;line-height:20px;font-size:14px
}
.mst-brand-v3-one .mst-brand-item::after{
	margin-top:30px
}

}
.mst-product-v3 .mst-item-wrap,.mst-product-v3 .mst-logo{
	-webkit-box-sizing:border-box;-moz-box-sizing:border-box
}
.mst-dialog,.mst-dialog .mask{
	left:0;top:0;width:100%;height:100%
}
.mst-dialog{
	display:none;position:fixed;background:rgba(0,0,0,.5);z-index:99999;text-align:center
}
.mst-dialog .mask{
	position:absolute
}
.mst-dialog-content{
	position:absolute;z-index:2;left:50%;top:50%;width:5.688893333333334rem;background:#fff;border-radius:4px;transform:translate(-50%,-50%);-webkit-transform:translate(-50%,-50%)
}
.mst-layer,.mst-layer-content{
	top:0;width:100%;overflow:auto;left:0
}
.mst-dialog-head{
	line-height:.79644rem;font-size:.31999999999999995rem
}
.mst-dialog-body{
	padding-bottom:.22755999999999998rem;background:initial
}
.mst-dialog-btn{
	height:.5688933333333333rem;line-height:.5688933333333333rem;margin:0;border-top:1px solid #eee;color:#097CFC
}
.mst-dialog-btn:active{
	background:#eee
}
@model-base 75/750 from 100/750;.mst-layer{
	position:fixed;right:0;bottom:0;height:100%;background-color:#fbfbfa;z-index:99999
}
.mst-layer-content{
	position:absolute;height:100%
}
.mst-layer-title{
	position:relative;line-height:1.3333333333333333rem;font-size:.5333333333333333rem;text-align:center
}
.mst-layer-body{
	position:relative;padding:.15999999999999998rem;font-size:12px
}
.mst-layer-body li{
	position:relative;line-height:.7999999999999999rem;color:#818181
}
.mst-layer-footer{
	text-align:center;padding:.26666666666666666rem
}
.mst-layer-btn{
	font-size:12px;border:1px solid #e4007f;color:#FFF;background-color:#e4007f;border-radius:2px;padding:.13333333333333333rem .6399999999999999rem;margin:0 .13333333333333333rem
}
.u-border-b:before{
	content:"";position:absolute;bottom:-1px;left:0;right:0;border-bottom:1px solid #dedede;-webkit-transform:scaleY(.5);-webkit-transform-origin:0 0;pointer-events:none
}
.scroll-fix,.scroll-fix body{
	height:100%;overflow:hidden
}
body .countdown-wrap,body .mzt-o-item,body .plugin-brand-phone,body .plugin-countdown,body .plugin-nav,body .plugin-nav .fix-top,body .plugin-pingou-640,body .plugin-tupian-640,body .wrapper .plugin{
	max-width:10rem
}
body .countdown-float{
	left:initial
}
@media screen and (min-width:632px){
	body .countdown-wrap,body .mzt-o-item,body .plugin-brand-phone,body .plugin-countdown,body .plugin-nav,body .plugin-nav .fix-top,body .plugin-pingou-640,body .plugin-tupian-640,body .wrapper .plugin{
	max-width:632px
}
body .mzt-o-item .tpl_brand_col2_0301.tpl_brand::after{
	margzin-top:14px
}

}
.mst-product-v3{
	max-width:10rem;min-width:320px;margin:0 auto;overflow:hidden;padding:0 .06666666666666667rem
}
.mst-product-v3 .mst-item{
	margin:0 .06666666666666667rem .21333333333333332rem;float:left;position:relative
}
.mst-product-v3 .mst-item-wrap{
	width:4.8rem;box-sizing:border-box;border:1px solid #dee2eb;padding-bottom:.31999999999999995rem;background-color:#fff
}
.mst-product-v3 .mst-item::after{
	content:"";width:100%;height:99.9%;margin-top:.21333333333333332rem;background:url(http://mst.vipstatic.com/demo/image/last-new.png) center center no-repeat #e7e7e7;position:absolute;top:100%;left:0;-webkit-background-size:cover;background-size:cover
}
.mst-product-v3 .mst-info{
	display:block
}
.mst-product-v3 .mst-img{
	position:relative;padding-bottom:126%;overflow:hidden
}
.mst-product-v3 .mst-img img{
	position:absolute;width:100%;height:100%
}
.mst-product-v3 .mst-logo{
	width:1.92rem;height:.96rem;margin:.24rem auto .22666666666666668rem;box-sizing:border-box;border:1px solid #f3f3f3
}
.mst-size-pro img,.mst-size-wrap{
	-webkit-box-sizing:border-box;-moz-box-sizing:border-box
}
.mst-product-v3 .mst-logo img{
	width:100%;height:100%
}
.mst-product-v3 .mst-img.mst-saleout::after{
	content:'';background:url(http://mst.vipstatic.com/demo/image/sale_out.png) no-repeat;background-size:100% 100%;position:absolute;left:50%;top:50%;width:1.5999999999999999rem;height:1.5999999999999999rem;margin:-.7999999999999999rem 0 0 -.7999999999999999rem
}
.mst-product-v3 .mst-product-info{
	padding:0 .26666666666666666rem
}
.mst-product-v3 .mst-name{
	height:.39999999999999997rem;line-height:.39999999999999997rem;margin-bottom:.12rem;font-size:.31999999999999995rem;color:#585c64;overflow:hidden;white-space:nowrap;text-overflow:ellipsis
}
.mst-product-v3 .mst-price{
	height:.5066666666666666rem;line-height:.5066666666666666rem;margin-bottom:.29333333333333333rem;font-size:.48rem;color:#222
}
.mst-product-v3 .mst-price b{
	font-weight:400
}
.mst-product-pmsprice .mst-product-pmsprice-price em,.mst-size-tips{
	font-weight:700
}
.mst-product-v3 .mst-price del{
	font-size:.26666666666666666rem;color:#98989f;padding-left:.07999999999999999rem
}
.mst-product-v3 .mini_icon{
	width:1.3599999999999999rem;height:1.3599999999999999rem;position:absolute;top:0;right:0;z-index:9
}
.mst-product-v3 .mst-collect{
	width:87%;height:.6666666666666666rem;background:#de3d96;margin:0 auto;color:#fff;font-size:.26666666666666666rem;text-align:center;line-height:.6666666666666666rem;border-radius:.026666666666666665rem
}
.mst-product-v3 .mst-product-coupon{
	width:.7733333333333332rem;height:.7066666666666667rem;background:url(http://mst.vipstatic.com/demo/image/icon-red-packet.png) right no-repeat;background-size:contain;position:absolute;top:.10666666666666666rem;right:.10666666666666666rem;font-size:.22666666666666668rem;color:#fecd3b;text-align:center;line-height:1.0133333333333332rem;display:none
}
.mst-product-v3 .mst-product-btn{
	height:.7999999999999999rem;line-height:.7999999999999999rem;text-align:center;font-size:.31999999999999995rem;color:#fff;display:block;background-color:#de3d96;overflow:hidden;border-radius:.026666666666666665rem;border:none
}
.mst-product-v3 .mst-product-btn:after{
	content:"绔嬪嵆鎶㈣喘"
}
.mst-product-v3 .mst-product-fav:after{
	content:"鎶㈠厛鏀惰棌"
}
.mst-product-v3 .mst-product-cart:after{
	content:"鍔犲叆璐墿杞�"
}
body #specialContent .mst-logo .lazy-load{
	background:0 0
}
@media screen and (min-width:632px){
	.mst-product-v3{
	max-width:632px;padding:0
}
.mst-product-v3 .mst-item{
	margin:0 15px 30px 0
}
.mst-product-v3 .mst-item-wrap{
	width:200px;padding-bottom:16px
}
.mst-product-v3 .mst-item::after{
	margin-top:30px
}
.mst-product-v3 .mst-item:nth-child(3n){
	margin-right:0
}
.mst-product-v3 .mst-logo{
	width:80px;height:39px;margin:10px auto 7px
}
.mst-product-v3 .mst-product-info{
	padding:0 12px
}
.mst-product-v3 .mst-name{
	height:19px;line-height:19px;font-size:15px;margin-bottom:4px
}
.mst-product-v3 .mst-price{
	height:22px;line-height:22px;font-size:20px;margin-bottom:12px
}
.mst-product-v3 .mst-price del{
	font-size:14px;padding-left:3px
}
.mst-product-v3 .mst-product-btn{
	height:36px;line-height:36px;font-size:14px
}
.mst-product-v3 .mst-img.mst-saleout::after{
	width:1.0666666666666667rem;height:1.0666666666666667rem;margin:-.5333333333333333rem 0 0 -.5333333333333333rem
}
.mst-product-v3 .mst-collect{
	width:89.3%;height:.5690666666666666rem;line-height:.5690666666666666rem;font-size:.21333333333333332rem
}
.mst-product-v3 .mst-product-coupon{
	width:.6573333333333333rem;height:.6006666666666667rem;line-height:.8533333333333333rem;font-size:.21333333333333332rem
}

}
.mst-size,.mst-size-mask{
	height:100%;width:100%;left:0
}
@model-base 75/750 from 100/750;.mst-size{
	position:fixed;bottom:0;font-size:12px;z-index:500;display:none
}
.mst-size-mask{
	position:absolute;top:0;z-index:498;background-color:rgba(0,0,0,.6)
}
.mst-size-wrap{
	width:100%;padding:.6666666666666666rem .39999999999999997rem .26666666666666666rem;background-color:#fff;z-index:499;position:absolute;left:0;bottom:0;box-sizing:border-box;color:#000
}
.mst-size .mst-size-close{
	width:.39999999999999997rem;height:.39999999999999997rem;line-height:.39999999999999997rem;position:absolute;right:.39999999999999997rem;top:.6666666666666666rem;font-size:.7999999999999999rem;color:#333;z-index:499
}
.mst-size-head{
	padding-bottom:.6666666666666666rem;margin-bottom:.48rem;position:relative;overflow:hidden;border-bottom:1px solid #f0f0f0
}
.mst-size-info{
	overflow:hidden
}
.mst-size-title{
	line-height:.5333333333333333rem;font-size:.3466666666666667rem;margin-bottom:.27999999999999997rem;word-wrap:break-word;padding-right:1.5999999999999999rem
}
.mst-size-pro img{
	width:2rem;height:2.5066666666666664rem;float:left;margin-right:.39999999999999997rem;border:1px solid #e7e7e7;box-sizing:border-box;border-radius:2px
}
.mst-size-price{
	font-size:.37333333333333335rem;color:#98989F
}
.mst-size-price i,.mst-size-price strike{
	margin-right:.07999999999999999rem
}
.mst-size-price .mst-size-price-now{
	font-weight:700;font-size:.48rem;color:#000
}
.mst-size-price em{
	color:#E4007F
}
.mst-size-tips{
	line-height:.42666666666666664rem;font-size:.37333333333333335rem
}
.mst-size-yardage{
	overflow:hidden;padding-top:.3333333333333333rem
}
.mst-size-yardage span{
	width:2.8rem;height:.7999999999999999rem;line-height:.7999999999999999rem;margin:0 .39999999999999997rem .39999999999999997rem 0;float:left;border:1px solid #dadada;border-radius:3px;text-align:center;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;position:relative;overflow:hidden;font-size:.31999999999999995rem
}
.mst-size-yardage span:nth-child(3n){
	margin-right:0
}
.mst-size-yardage em{
	width:.39999999999999997rem;height:.39999999999999997rem;position:absolute;right:0;bottom:0;-webkit-background-size:.39999999999999997rem;background-size:.39999999999999997rem
}
.mst-size-yardage .unactive{
	background-color:#f5f5f5;color:#AEAEAE
}
.mst-size-yardage .active{
	border-color:#e43494;color:#e43494
}
.mst-size-yardage .active em{
	display:block;background-image:url(http://mst.vipstatic.com/demo/image/icon_size_active_40.png)
}
.mst-size-btns{
	border-top:1px solid #f5f5f5;padding:.26666666666666666rem .39999999999999997rem 0;margin:0 -.39999999999999997rem
}
.mst-size-btn{
	line-height:1.1733333333333333rem;display:block;border-radius:3px;background-color:#f02387;text-align:center;color:#fff;font-size:.39999999999999997rem
}
.mst-size-btn:visited{
	color:#fff
}
@media screen and (min-width:632px){
	.mst-size-wrap{
	border:1px solid #dadada;padding:20px 54px 30px
}
.mst-size-pro img{
	width:91px;height:115px;margin-right:32px
}
.mst-size-head{
	padding-bottom:20px;margin-bottom:25px
}
.mst-size-info{
	padding-top:30px
}
.mst-size-title{
	height:20px;line-height:20px;margin-bottom:12px;font-size:18px;overflow:hidden
}
.mst-size-price{
	font-size:18px
}
.mst-size-price-now{
	font-size:29px
}
.mst-size-content{
	padding-bottom:24px
}
.mst-size-tips{
	line-height:21px;font-size:16px
}
.mst-size-yardage span{
	width:22.7%;margin:0 3.03% 16px 0;border-radius:1px
}
.mst-size-yardage span:nth-child(3n){
	margin-right:3.03%
}
.mst-size-yardage span:nth-child(4n){
	margin-right:0
}
.mst-size-yardage em{
	width:19px;height:19px;-webkit-background-size:19px;background-size:19px
}
.mst-size-btns{
	padding:30px 54px 0;margin:0 -54px
}
.mst-size-btn{
	width:252px;height:55px;line-height:55px;float:right;font-size:16px
}
.mst-size .mst-size-close{
	width:20px;height:20px;line-height:20px;font-size:40px;right:55px;top:20px
}
.mst-size-yardage-big span{
	width:48.43%
}
.mst-size-yardage-big span:nth-child(2n){
	margin-right:0
}

}
.mst-global-loading{
	width:100%;height:100%;position:fixed;left:0;top:0;display:none;z-index:600
}
.mst-global-loading .mst-gl-mask{
	width:100%;height:100%;position:absolute;left:0;top:0;background-color:rgba(255,255,255,0)
}
.mst-global-loading .mst-gl-body{
	padding:.26666666666666666rem;border-radius:.13333333333333333rem;background-color:#fff;position:absolute;left:50%;top:50%;-webkit-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);-o-transform:translate(-50%,-50%);transform:translate(-50%,-50%)
}
.mst-global-loading .mst-loading-svg{
	opacity:1!important;-webkit-transition:opacity .25s;-moz-transition:opacity .25s;transition:opacity .25s;display:block;width:.6666666666666666rem;height:.6666666666666666rem
}
@-webkit-keyframes draw{
	0%{
	stroke:#f10582;stroke-dashoffset:500
}
50%{
	stroke:#f10582;stroke-dashoffset:300
}
51%{
	stroke:#d9d9d9;stroke-dashoffset:500
}
100%{
	stroke:#d9d9d9;stroke-dashoffset:300
}

}
@-moz-keyframes draw{
	0%{
	stroke:#f10582;stroke-dashoffset:500
}
50%{
	stroke:#f10582;stroke-dashoffset:300
}
51%{
	stroke:#d9d9d9;stroke-dashoffset:500
}
100%{
	stroke:#d9d9d9;stroke-dashoffset:300
}

}
@keyframes draw{
	0%{
	stroke:#f10582;stroke-dashoffset:500
}
50%{
	stroke:#f10582;stroke-dashoffset:300
}
51%{
	stroke:#d9d9d9;stroke-dashoffset:500
}
100%{
	stroke:#d9d9d9;stroke-dashoffset:300
}

}
@-webkit-keyframes shadow{
	0,100%,49%{
	stroke:#d9d9d9
}
50%,99%{
	stroke:#f10582
}

}
@-moz-keyframes shadow{
	0,100%,49%{
	stroke:#d9d9d9
}
50%,99%{
	stroke:#f10582
}

}
@keyframes shadow{
	0,100%,49%{
	stroke:#d9d9d9
}
50%,99%{
	stroke:#f10582
}

}
@-webkit-keyframes spin{
	0%{
	-webkit-transform:rotate(0);stroke-dashoffset:99
}
50%{
	-webkit-transform:rotate(720deg);stroke-dashoffset:471
}
100%{
	-webkit-transform:rotate(1080deg);stroke-dashoffset:99
}

}
@-moz-keyframes spin{
	0%{
	-moz-transform:rotate(0);stroke-dashoffset:99
}
50%{
	-moz-transform:rotate(720deg);stroke-dashoffset:471
}
100%{
	-moz-transform:rotate(1080deg);stroke-dashoffset:99
}

}
@keyframes spin{
	0%{
	-webkit-transform:rotate(0);-moz-transform:rotate(0);-ms-transform:rotate(0);-o-transform:rotate(0);transform:rotate(0);stroke-dashoffset:99
}
50%{
	-webkit-transform:rotate(720deg);-moz-transform:rotate(720deg);-ms-transform:rotate(720deg);-o-transform:rotate(720deg);transform:rotate(720deg);stroke-dashoffset:471
}
100%{
	-webkit-transform:rotate(1080deg);-moz-transform:rotate(1080deg);-ms-transform:rotate(1080deg);-o-transform:rotate(1080deg);transform:rotate(1080deg);stroke-dashoffset:99
}

}
.mst-global-loading .mst-loading-svg circle,.mst-global-loading .mst-loading-svg path{
	stroke:#d9d9d9;stroke-width:6;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;fill:none
}
.mst-global-loading .mst-loading-svg .circle .rotation{
	stroke:#f10582;stroke-dasharray:471;-webkit-transform-origin:75px 75px 0;-moz-transform-origin:75px 75px 0;-ms-transform-origin:75px 75px 0;-o-transform-origin:75px 75px 0;transform-origin:75px 75px 0;-webkit-animation:spin 3s linear infinite;-moz-animation:spin 3s linear infinite;animation:spin 3s linear infinite
}
.mst-ipad-channel{
	padding-top:28px
}
.mst-product-pmsprice{
	width:1.4133333333333333rem;height:1.4133333333333333rem;text-align:center;display:none;color:#fff;position:absolute;left:.26666666666666666rem;bottom:.36rem;background:url(http://mst.vipstatic.com/demo/image/icon-pms-price.png) no-repeat;-webkit-background-size:100%;background-size:100%;overflow:hidden
}
.mst-product-pmsprice .mst-product-pmsprice-text{
	height:.29333333333333333rem;line-height:.29333333333333333rem;margin-top:.39999999999999997rem;margin-bottom:.039999999999999994rem;font-size:.42666666666666664rem;white-space:nowrap;overflow:hidden;position:relative;display:block
}
.mst-product-pmsprice .mst-product-pmsprice-text em{
	-webkit-transform:translate(-50%,-50%) scale(.5,.5);-ms-transform:translate(-50%,-50%) scale(.5,.5);-o-transform:translate(-50%,-50%) scale(.5,.5);transform:translate(-50%,-50%) scale(.5,.5);display:block;position:absolute;left:50%;top:50%
}
.mst-product-pmsprice .mst-product-pmsprice-price{
	display:block;height:.37333333333333335rem;line-height:.37333333333333335rem;font-size:.37333333333333335rem;-ms-word-break:break-all;word-break:break-all;overflow:hidden
}
@media screen and (min-width:632px){
	.mst-product-pmsprice{
	width:60px;height:60px;bottom:27px
}
.mst-product-pmsprice .mst-product-pmsprice-text{
	height:12px;line-height:12px;margin-top:18px;font-size:12px;margin-bottom:0
}
.mst-product-pmsprice .mst-product-pmsprice-text em{
	-webkit-transform:translate(-50%,-50%) scale(.8,.8);-ms-transform:translate(-50%,-50%) scale(.8,.8);-o-transform:translate(-50%,-50%) scale(.8,.8);transform:translate(-50%,-50%) scale(.8,.8)
}
.mst-product-pmsprice .mst-product-pmsprice-price{
	height:19px;line-height:19px;font-size:16px
}

}
