<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>v-for 列表渲染</title>
	<style>
	.divider{ border-bottom: 1px dashed #ccc; margin-bottom: 10px;}
	.pn{display: inline-block; margin: 10px; background: #eee; border: 1px solid #ccc; padding: 5px;}
	</style>
</head>
<body>
	<h1>列表渲染</h1>
	<div id="app">
		<!-- v-for -->
		<!-- 遍历数组 -->
		<ul>
			<li v-for="item in items">{{$index}}--{{item.msg}}</li>
		</ul>
		<!-- 遍历对象 -->
		<ul>
			<li v-for="(key, val) in user">{{key}}: {{val}}</li>
		</ul>
	
		<!-- $key -->
		<ul>
			<li v-for=" value in user">
				{{$key}}--{{value}}
			</li>
		</ul>

		<!-- 值域 重复模板若干次数-->
		<div class="page-nums">
			<span class="pn" v-for=" n in 10">{{n}}</span>
		</div>

		<!-- 类似 template v-if,  包装并列元素可用 template v-for -->
		<ul>
			<template v-for="item in items">
				<li>{{item.msg}}</li>
				<li class="divider"></li>
			</template>
		</ul>

		<!-- 数组自修改的方法都被包装和观察，可触发视图更新 -->
		<!-- 方法: push() pop(), shift(), unshift(), splice(), sort(), reverse() -->

		<!-- 数组非自修改的方法(concat(), filter(), slice()) 会返回新数组，可直接替换旧数组 -->
		<!-- vue实现启发算法，这种替换是高效的 -->

		<!-- track-by 指定对象的哪个属性可以唯一标识这个对象，有利于提示vue如何复用dom -->

		<!-- track-by $index 片段不会被移动，而是简单地以对应索引的新值刷新 -->
	

		<!-- 要做过滤和排序，1.创建计算属性 2.使用内置过滤器  filterBy,  orderBy -->
	</div>
	<script src="/bower_components/vue/dist/vue.js"></script>
	<script>
	var vm = new Vue({
		el: '#app',
		data: {
			items: [
				{msg: 'hello'},
				{msg: 'school'},
				{msg: 'morning'}
			],
			user: {
				name: 'idle',
				age: 20
			}
		}
	});

	//console中尝试 vm.items.push({msg: 'hihi'});


	/**
	 * 直接用索引设置数组，数组的变化不能被检测到 vm.items[0] = {...}
	 * 应这样 vm.items.$set(0, {msg:'beware'});
	 * vm.items.$remove(item);
	 */

	 /*vm.items.$remove(item); */
	 // 同上
	 /*var index = vm.items.indexOf(item);
	 if(index!== -1){
	 	this.items.splice(index, 1);
	 }*/
		
	</script>
</body>
</html>