.share-abs {background-image: url(http://mst.vip.com/demo/image/share_bg.png); top:0.73rem;}

.mzt-o-item .tpl_pic .coupon  {padding:0;}

/*编辑的时候显示图片*/
.plugin-share .mst-share-content {max-width: 640px; margin: 0 auto; overflow: hidden; background-color: #fff;}
.plugin-share .mst-share-content img{width: 75px; float: left; margin-right: 10px;}
.plugin-share .mst-share-content p {overflow: hidden; font-size: 14px; padding-top: 10px;}

@media screen and (min-width:632px) {
    .share-abs {
      max-width: 60px;
      top: 92px;
      right: 28px;
    }
}

@model-base 100/750; 
.plugin-app-caller {
    display: none;
}

.mst-caller-bar .mst-caller-text,.mst-caller-bar .mst-caller-text p {
    max-width:100%;
    overflow:hidden;
    word-break:break-all;
    white-space:nowrap;
    text-overflow:ellipsis
}
.mst-caller-bar {
    width: 3.86rem;
    height: 1.1rem;
    background:#de3d96;
    position: fixed;
    left: 50%;
    bottom: .38rem;
    z-index: 500;
    background: url(http://b.appsimg.com/2016/08/26/6196/b8faba8b4c8f76ed770547548f545fbd-jump_button.png) 0 0 no-repeat;
    -webkit-background-size: 100%;
    background-size: 100%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}

.mst-caller-bar .mst-caller-text{
    height: .38rem;
    line-height: .38rem;
    padding: .28rem 0 0 1.30rem;
    font-size: .31rem;
    color: #e43997;
    overflow: hidden;
}