<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>组件间通过事件通信</title>
    <style>
    .red{color: red;}

    .fade-transition{
    	transition: opacity .3s ease;
    }
    .fade-enter, .fade-leave{
    	opacity: 0;
    }
    </style>
</head>

<body>
    <h1>组件间的事件通信</h1>
    <!-- 子组件模板 -->
    <template id="child-template">
        <div class="child-div">
        	<input type="text" v-model="msg">
        	<button v-on:click="notify">dispatch event</button>
        	<!-- slot -->
        	<slot>如果子组件实例没有分发内容则显示我</slot>
        </div>
    </template>

	<div id="multi-insertion">
		<div class="minsert-div">
			<slot name="one"></slot>
			<slot></slot>
			<slot name="two"></slot>
		</div>
	</div>

    <!-- 父组件模板 -->
    <div id="event-example">
    	<p>Messages: {{ messages | json }}</p>
    	<child>
    		<p>these content will fill to the 'slot' </p>
    		<p>we can go to the park..</p>
    	</child>
	<!-- 直接在子组件上监听其派发的事件 child为空标签 没内容可分发-->
	<child v-on:child-msg="handleIt"></child>


	<!-- 子组件索引 -->
	<user-profile v-ref:profile></user-profile>

	<!-- 使用slot分发内容 类似angular的transclude-->
	<!-- 
		父组件模板的内容在父组件作用域内编译，子组件模板的内容在子组件作用域内编译
	 -->


	<!-- 具名的多个slot 指明组件实例包含的内容如何分发-->
	<!-- 
		内容分发对于组合组件是非常有用的特性
	 -->

	 <!-- 组件和v-for -->
	 <!-- 
	自定义组件可以像普通元素一样使用v-for, 但是不能传递数据给组件
	如： <my-component  v-for="item in items"></my-component>
	需用props方式传入数据
	如: <my-component  v-for="item in items" :item="item" :index="$index"></my-component>
	  -->

	 <!-- 编写可复用组件 -->
	 <!-- 
	vue.js组件的api来自三部分: prop, event 和 slot
	如： <my-component :foo="baz" :bar="good" @event-a="dothis" @event-b="dothat">
				some content..
				<img slot="icon" />
				<p slot="main-text"> hello</p>
		   </my-component>
	  -->


	  <!-- 异步组件 -->
	  <!-- 
	  	vue允许将组件定义为一个工厂函数，动态地加载和解析组件的定义
	  	当组件需要渲染时才触发工厂函数的执行
	  	如：
		Vue.component('async-example', function(resolve, reject){
			setTimeout(function(){
				resolve({
					template: '<div> i am async!</div>'
				});
			}, 1000);
		});
		推荐使用webpack的代码分割功能
		Vue.component('async-webpack-example', function(resolve){
			require(['./my-async-component'], resolve);
		});
	   -->


	   <!-- 组件命名约定 -->
	   <!--
		vue.js支持资源的名字使用camelCase或PascalCase的形式，在模板中会自动转为kebab-case (my-component)
		如：
		//在组件定义中
		components: {
			myComponent: { ... }
		}

		//在模板中使用kebab-case形式
		<my-component></my-component>
	     -->

	     <!-- 递归调用组件 -->
	     <!-- 
		当设置name选项时 组件可递归调用自己
		如：
		var StackOverflow = Vue.extend({
			name: 'stack-overflow',
			template: '<div> <stack-overflow></stack-overflow> </div>'
		});
		注意需要有终止条件，不然会不断调用自己 然后报错
	      -->

		<!-- 片段实例 -->
		<!-- 
		template选项设置的模板内容会替代挂载元素，推荐模板用单个顶级元素
		不建议：
		template: '<div>root 1</div> <div>root 2</div>'
		推荐:
		template: '<div>  <div>node 1</div><div>node 1</div>  </div>'
		 -->


		 <!-- 内联模板 -->
		 <!-- 
			如果组件有 属性节点 inline-template, 则组件不将它内部的内容当作分发内容，而是作为它的模板
			如：
			<my-component inline-template>
				<p>these are compiled as template</p>
				<p>not parent's transclusion content</p>
			</my-component>
		  -->

	<minsert>
		<p slot="one">One</p>
		<p>default A</p>
		<p slot="two">Two</p>
	</minsert>
	
	<div is="minsert"><p class="red">is="component"方式调用组件 将插入默认的slot</p></div>

	 <!-- 动态组件 同一挂载点切换不同组件 is -->
	 <!-- 
		组件一般以元素形式调用 <child></child>  ，以属性形式调用则 <div  :is="child"></div>
		keep-alive参数把切换出去的组件保存在内存中，下次无需重新渲染
		activate钩子
		transition-mode: in-out, out-in
	  -->
	<div class="main-view"  :is="currentView" keep-alive  transition="fade"  transition-mode="out-in">i am the innerText..</div>
	<div>
		选择组件：
		<select name="selview" id="selview" v-model="currentView">
			<option>child</option>
			<option>minsert</option>
			<option>user-profile</option>
		</select>
	</div>
    </div>

    <script src="/bower_components/vue/dist/vue.js"></script>
    <script>
    /**
     * 父子组件通信
     * 1. 父子链
     * 子组件 this.$parent 访问父组件， this.$root访问vue的根实例
     *父组件 this.$children包含子组件
     * 注意： 子组件中修改父组件的状态是很糟糕的做法
     * 2.自定义事件 组件间通信
     * vue实例都实现事件接口 
     *$on(..) 监听事件 , $emit(..) 在vue实例上触发事件,  $dispatch() 向上派发事件，$broadcast() 向下广播事件
     *注意： 冒泡事件在第一次触发回调后自动停止冒泡 不同于dom事件, 若希望继续冒泡 需明确返回true
     */

     // 创建组件类并注册组件
    Vue.component('child', {
    	template: '#child-template',
    	data: function () {
    		return { msg: 'hello'};
    	},
    	methods: {
    		notify: function () {
    			if(this.msg.trim()){
    				this.$dispatch('child-msg', this.msg);
    				this.msg = '';
    			}
    		}
    	}
    });

    Vue.component('user-profile', {
    	template: '<div class="user"> this is user profile content </div>',
    	activate: function (done) {
    		var self = this;
    		console.info('in activate hook.. 在组件切入时可进行一些异步加载');
    		done();
    		/*loadDataAsync(function (data) {
    			self.someData = data;
    			done();
    		});*/
    	}
    });

    Vue.component('minsert', {
    	template: '#multi-insertion'
    });

    // 初始父组件
    var parent = new Vue({
    	el: '#event-example',
    	data: {
    		messages: [ ],
    		currentView: 'child'
    	},
    	methods:{
    		handleIt: function (msg) {
    			this.messages.push(msg);
    		}
    	},
    	events: {//设置事件监听器
    		'child-msg': function (msg) {
    			this.messages.push(msg);
    		}
    	}
    });

    // 访问子组件
    console.info(parent.$refs.profile);

    </script>
</body>

</html>
