<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>vue usage example</title>
</head>
<body>
	<div id="app">
		<input type="text" v-model="newTodo" v-on:keyup.enter="addTodo">
		<ul>
			<li v-for="todo in todos">
				<span>{{todo.text}}</span><button v-on:click="removeTodo($index)">x</button>
			</li>
		</ul>
		<h3>{{home.location}}</h3>
		<p v-if="greeting">hello!</p>
		是否say hello? <input type="checkbox" name="sayhi" id="sayhi" v-model="greeting">
	</div>
	<script src="/bower_components/vue/dist/vue.js"></script>
	<script>
	//尝试在console中修改home对象, 
	// vm.home, home修改任何一个，两者总会保持同步更新
	//vm.home 和 home 引用相同， vm.home === home, 以defineProperty(vm, 'home', {getter:... setter:..})的方式，定义属性
	var home  = {location: 'skyland'}; 
	
	/**
	 * 数据驱动的web界面库和组合的视图组件
	*/
	var vm  = new Vue({
		el: '#app',
		data: {
			newTodo: '',
			todos: [
				{text: 'add some todos'}
			],
			home: home,
			greeting: false
		},
		methods: {
			addTodo: function () {
				var text = this.newTodo.trim();
				if(text){
					this.todos.push({text: text});
					this.newTodo = '';
				}
			},
			removeTodo: function (index) {
				this.todos.splice(index, 1);
			}
		}
	});
	</script>
</body>
</html>