<div class="plugin-product">
                <div class='mst-product mst-product-v3'>
                    <div class="mst-product-wrap">
                        <div class="mst-product-list mst-product-v3-list clearfix">
                            
                        </div>
                    </div>
                </div>

                <script class='mst-product-tmpl' type='text/x-jquery-tmpl'>
                    {{each(i,product) data}}
                        {{if product.is_show && product.small_image != ''}}
                        <div class='mst-item' data-product-id="${product_id}">
                            <div class="mst-item-wrap">
                                <a href='javascript:' onclick="${click}" mst-mars="${product.mst_mars}">
                                    <div class='mst-img' data-product-soldout-id='${product.product_id}'>
                                        {{if product.mini_icon}}
                                            <div class='mini_icon'><img src='${product.mini_icon}'></div>
                                        {{/if}}
                                        <img {{if lazy}}class='lazy-load' data-original='${product.small_image}'{{else}}src='${product.small_image}'{{/if}}>
                                        <p class="mst-product-pmsprice" data-product-pmsprice-id="${product.product_id}">
                                            <i class="mst-product-pmsprice-text">
                                                <em data-product-pmsprice-text="${product.product_id}"></em>
                                            </i>
                                            <span class="mst-product-pmsprice-price">
                                                ¥<em data-product-pmsprice-price="${product.product_id}"></em>
                                            </span>
                                        </p>
                                    </div>
                                    {{if model && model.is_show_logo != 'false'}}
                                    <div class='mst-logo' data-img-attr="${product.is_show_logo}">
                                        <img {{if lazy}}class='lazy-load' data-original='${product.brand_self_logo}'{{else}}src='${product.brand_self_logo}'{{/if}} />
                                    </div>
                                    {{/if}}
                                    <div class="mst-product-info">
                                        <p class='mst-name'>${product.product_name}</p>
                                        <p class='mst-price'><b>¥</b>${product.vipshop_price}{{if product.market_price}}<del>¥${product.market_price}</del>{{/if}}</p>
                                        <div class="mst-product-btns">
                                            <span class="mst-product-btn {{if product.is_cart}}mst-product-cart{{/if}} {{if !product.is_in_sale}}mst-product-fav{{/if}}" ${cart_attr} {{if product.is_cart}}mst-mars="${product.mst_mars}"{{/if}}></span>
                                        </div>
                                    </div>
                                    <div class="mst-product-coupon" data-product-coupon-id="${product.brand_id}"></div>
                                </a>
                            </div>
                        </div>
                        {{/if}}
                    {{/each}}
                </script>
            </div>