doctype html
html
head
    title 魔筷科技
body
    style.
        body{background: #333;}
        .main{width: 990px; margin: 80px auto 0;position: relative}
        .to-down{
            display: block;
            width: 113px;
            height: 106px;
            position: absolute;
            right: 125px;
            top: 105px;}
        .footer{
            margin: 30px 0;
            color: #a2a2a2;
            text-align: center;
        }
    .container
        .main
            img(src="http://img01.taojae.com/party/433461c40ec78367505cb7540dd98d0f.png")
            a.to-down(href="http://rj.baidu.com/soft/detail/25718.html", target="_blank")
        .footer
            p.copyright Copyright©2015 杭州魔筷科技有限公司
            p.copyright.address 杭州市西湖区文一西路崇义路口•郡原公元里 9幢6单元2F
